[Desktop Entry]
Encoding=UTF-8
Name=manna Core
Comment=Connect to the manna P2P Network
Comment[de]=Verbinde mit dem manna peer-to-peer Netzwerk
Comment[fr]=manna, monnaie virtuelle cryptographique pair à pair
Comment[tr]=manna, eşten eşe kriptografik sanal para birimi
Exec=manna-qt %u
Terminal=false
Type=Application
Icon=manna128
MimeType=x-scheme-handler/manna;
Categories=Office;Finance;
