
## <summary>policy for manna</summary>


########################################
## <summary>
##	Transition to manna.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`manna_domtrans',`
	gen_require(`
		type manna_t, manna_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, manna_exec_t, manna_t)
')


########################################
## <summary>
##	Execute manna server in the manna domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`manna_initrc_domtrans',`
	gen_require(`
		type manna_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, manna_initrc_exec_t)
')


########################################
## <summary>
##	Search manna lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`manna_search_lib',`
	gen_require(`
		type manna_var_lib_t;
	')

	allow $1 manna_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read manna lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`manna_read_lib_files',`
	gen_require(`
		type manna_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, manna_var_lib_t, manna_var_lib_t)
')

########################################
## <summary>
##	Manage manna lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`manna_manage_lib_files',`
	gen_require(`
		type manna_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, manna_var_lib_t, manna_var_lib_t)
')

########################################
## <summary>
##	Manage manna lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`manna_manage_lib_dirs',`
	gen_require(`
		type manna_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, manna_var_lib_t, manna_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a manna environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`manna_admin',`
	gen_require(`
		type manna_t;
		type manna_initrc_exec_t;
		type manna_var_lib_t;
	')

	allow $1 manna_t:process { ptrace signal_perms };
	ps_process_pattern($1, manna_t)

	manna_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 manna_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, manna_var_lib_t)

')

